<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Mission to Mars</title>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <a class="btn btn-primary" href="/scrape" role="button">Scrape</a>
        </div>
        <div class="container-fluid">
            <div class="col-8">
                <h2>Mars News</h2>
                <h3>{{ mars_data.news_title }}</h3>
                <p>{{ mars_data.news_p }}</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                  <h2><br/>Featured Mars Image</h2>
                    <img src= "{{ mars_data.featured_image_url }}" class="img-responsive" width = "100%; height:auto">
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Mars Weather</h2>
                                <p>{{ mars_data.mars_weather }}</p>
                                <br>
                                <h2>Mars Facts</h2>
                                <div text-align="center">
                                {{ mars_data.mars_table| safe }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
                        
        </div>
        <br>
        <div class="container-fluid">
            <h2><br/><br/>Mars Hemispheres</h2>
            <hr>
        </div>
        
                
        <div class="cards">
            {% for hemisphere in mars_data.hemisphere_image_urls %}
                <div class="card" style="width: 32rem;">
                    <img class="card-img-top" src= "{{ hemisphere.img_url }}" class="img-responsive" width = "100%; height:auto">
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ hemisphere.title }}</p>
                    <br>
                </div>
            {% endfor %}
        </div>    
    </body>
</html>